@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #28b7f0;
  --color-secondary: #66d3f1;
}

@layer lib {
  html {
    font-family: 'Roboto', sans-serif;

    @apply min-h-[100dvh] leading-[140%] text-base md:overflow-y-scroll;
  }
  body {
    @apply min-h-[100dvh] min-w-[320px] text-gray-900 bg-gray-50 dark:bg-gray-900 dark:text-white transition;
  }
  input {
    outline: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
  }
  .dark {
    input::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
  input {
    background: transparent;
  }

  textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }

  .bg-blur {
    backdrop-filter: blur(3px);
  }
}
